doctype html
html
  head
    title Hello, World!
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 Hello, World!
   div.remark
     p Device ID   Device   Enter   Exit   Latitude   Location   Longitude   People in Building
     p entry2
